.content {
  padding-top: 8px;
}

.sourceBtn {
  height: 56px;
  justify-content: flex-start;
}

.sourceBtnSelected {
  border-color: var(--dip-color-primary, #1677ff);
}

.tip {
  margin-bottom: 16px;
  padding: 12px;
  color: rgb(0 0 0 / 65%);
  background: #fafafa;
  border-radius: 6px;
}

.uploadText {
  color: rgb(0 0 0 / 45%);
}
