.wrap {
  height: 100%;
}

.label {
  color: rgb(0 0 0 / 45%);
  margin-bottom: 4px;
}

.value {
  margin-bottom: 12px;
  color: rgb(0 0 0 / 88%);
  word-break: break-word;
}

.error {
  color: #ff4d4f;
}

.jsonBox {
  background: #fafafa;
  border-radius: 8px;
  padding: 10px;
  overflow: auto;
}
